*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  --bg-color: #EDF2FF;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --prymary-color-dark: #364FC7;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

body.dark-blue{
  --bg-color: #00082F;
  --text-color: #FFFFFF;
}

body.pink-light {
  --bg-color: #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --prymary-color-dark: #A61E4D;
}
body.pink-dark{
  --bg-color: #1F000B;
  --text-color: #FFF0F6;
  --primary-color: #D6336C;
  --prymary-color-dark: #A61E4D;
}

body.green-dark{
  --bg-color: #001f05;
  --text-color: #f0fff2;
  --primary-color: #15d625;
  --prymary-color-dark: #1ea647;
}

.container{
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  padding: 3.7px;
}

img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;

  border: 4px solid var(--primary-color);
}

h1{
  font-size: 32px;
  margin-block: 24px 8px;
}

p{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
}

ul{
  list-style: none;
  margin: 48px 0;
}


ul li a{
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 300ms;
}

ul li a:hover{
  background-color: var(--prymary-color-dark);
}

footer{
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 300ms;
}

footer:hover{
  opacity: 1;
}

footer a{
  color: var(--text-color);
}